block content
	nav.navbar.navbar-default
		div.container-fluid
			div.navbar-header
				a.navbar-brand(href="#")
					img.jade-logo(alt="Brand", src="./public/img/jade-logo-1.png")
			ul.nav.navbar-nav
				li(ui-sref-active="active")
					a(href="#", ui-sref="main") Home
				li(ui-sref-active="active")
					a(href="#", , ui-sref="linkone") Link1
				li(ui-sref-active="active")
					a(href="#", ui-sref="linktwo") Link2